# Ignore IntelliJ IDEA and Android Studio files
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Ignore macOS system files
.DS_Store

# Ignore build artifacts
/build
/captures
.externalNativeBuild
.cxx

# Ignore local properties file
local.properties

# Ignore Google services JSON file
google-services.json
